<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}titulo da aba{% endblock %}</title>
  </head>
  <body>

    <table>

      {% if user.is_authenticated %}
      <tr>
        <td>
          <a class="nav-item nav-link" id="home" href="/home"
            ><big>Página inicial</big></a
          >
        </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>
          <a class="nav-item nav-link" id="carrinho" href="/carrinho"
            ><big>Carrinho</big></a
          >
        </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>
          <a class="nav-item nav-link" id="logout" href="/logout"
            ><big>Sair</big></a
          >
        </td>
      </tr>
      </table>

      {% else %}
      <tr>
        <td>
          <a class="nav-item nav-link" id="home" href="/home"
            ><big>Página inicial</big></a
          >
        </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>
          <a class="nav-item nav-link" id="login" href="/login"
            ><big>Entrar</big></a
          >
        </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>
          <a class="nav-item nav-link" id="signUp" href="/sign-up"
            ><big>Cadraste-se</big></a
          >
        </td>
      </table>

      {% endif %}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for message in messages %}
        <div>
          {{ message[0] + ':' + ' ' + message[1] }}
        </div>
      {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>