{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">Cadraste-se</h3>
  <table align="center">
    <tr>
      <td>
        <div class="form-group">
          <label for="username">Nome de usuário:</label>
          <input
            type="username"
            class="form-control"
            id="username"
            name="username"
            placeholder="Insira o nome de usuário"
          />
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <label for="senha1">Senha:</label>
          <input
            type="senha"
            class="form-control"
            id="senha1"
            name="senha1"
            placeholder="Insira a senha"
          />
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <label for="senha1">Confirme a senha:</label>
          <input
            type="senha"
            class="form-control"
            id="senha2"
            name="senha2"
            placeholder="Confirme a senha"
          />
        </div>
      </td>
    </tr>
  </table>
  <br />
  <div align="center">
    <button type="submit" class="btn">Criar conta</button>
  </div>
</form>
{% endblock %}